form .order {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1 0 auto;
}

input {
    order: 2;
    flex: 1 0 auto;
    font-size: 12px;
    padding: 0.5rem 0.2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-right: 1rem;
    position: relative;
    z-index: 3;
    border: none;
    outline: none;
    background: transparent;
}

.fa-search {
    order: 0;
    flex: 1 0 auto;
    z-index: 2;
    font-size: 0.75rem;
    position: relative;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: rgb(109, 109, 109);
}

.order .actions {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 0.5rem;
    margin-right: 1rem;
    z-index: 2;
    background: rgb(238, 238, 238);
}

.order input:hover + .actions + .fa-search {
    background: rgb(200, 200, 200);
}

input:hover {
    background: rgb(200, 200, 200);
}

.fa-pencil-alt {
    color: rgb(0, 102, 160);
}

.fa-desktop {
    color: rgb(155, 45, 189);
}

.fa-camera {
    color: rgb(0, 153, 10);
}

.fa-video {
    color: rgb(192, 17, 17);
}

.fab + .fab {
    padding-left: 0.6rem;
}

/* style for contacts.html*/

.wrap-contact {
    display: flex;
    flex-direction: column;
    margin: 3.5rem auto;
    margin-bottom: 4rem;
    align-items: center;
    width: 100%;
}

.contact-form {
    display: flex;
    width: 70%;
    text-align: center;
    padding: 4rem 1rem;
    outline: none;
    margin-top: 2.2rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(249, 174, 24);
}

#graphic-contact-icon {
    width: 33%;
    text-align: center;
}

#graphic-contact-icon > .social {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.5rem;
    padding-left: 0;
}

#graphic-contact-icon > .social a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.8rem;
}

#graphic-contact-icon > .social a:hover {
    color: rgb(249, 174, 24);
}

.contact-fields {
    width: 67%;
}

#contactinpit {
    border-radius: 0.5rem;
    width: 80%;
    font-size: 12px;
    margin: 0.2rem 0;
    padding: 0.5rem;
    background: rgb(238, 238, 238);
}

#reset,
#submit {
    width: 40%;
    margin: 0.2rem 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
    background: rgb(249, 174, 24);
}

#submit:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

#reset {
    margin-top: 1.5rem;
    background: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(200, 200, 200);
}

#reset:hover {
    background: rgb(200, 200, 200);
}

textarea {
    resize: none;
    outline: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    background: rgb(238, 238, 238);
    border: none;
    padding: 0.5rem 0 0 0.5rem;

}
#contactinpit:hover,
textarea:hover {
    background: rgb(200, 200, 200);
}

/* .curcle {
    display: flex;
}

#curcle {
    display: block;
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 4.3rem;
    margin-right: 0.5rem;
    border: 3px solid rgb(249, 174, 24);
}

#curcle-items {
    display: block;
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2.3rem 1rem 1rem 0;
    border: 5px solid rgb(184, 184, 184);
} */

/* style for Back to Top*/

.back-to-top {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.back-to-top .fas {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(150, 150, 150);
}

.back-to-top a:hover {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1124px) {

    .contact-form {
        flex-direction: column;
        justify-content: center;
    }

    #graphic-contact-icon {
        width: 100%;
        text-align: center;
    }

    #graphic-contact-icon img {
        max-width: 100%;
    }

    .contact-fields {
        width: 100%;
    }

    #contactinpit {
        width: 100%;
    }

    #reset,
    #submit {
        width: 49%;
    }
}

@media screen and (max-width: 680px) {

    .contact-form {
        width: 90%;
    }
