.site-title {
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 0;
}

.site-title a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    position: relative;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

nav.main ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav.main > ul {
    display: flex;
}

nav.main ul ul {
    display: flex;
    flex: 1 0 100%;
    justify-content: flex-start;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    background: rgb(50, 50, 50);
    transform: translateY(-2rem);
    box-shadow:0 0.2rem 0.5rem 0 inset rgba(0, 0, 0, 0.6);
}

nav.main li {
    display: block;
    padding: 0.5rem;
}

nav.main ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 3rem;
    border: solid transparent;
    border-width: 0.5rem 0;
}

nav.main li:hover > a,
nav.main a:hover {
    color: rgb(249, 174, 24);
}


nav.main li:hover > ul {
    opacity: 1;
    pointer-events: inherit;
    transition: all 0.5s ease;
    transform: translateY(0);
}

#main-nav-toggle {
    display: none;
}

#toggle {
    display: none;
    font-size: 2rem;
}

#toggle .fas.fa-times {
    display: none;

}

@media screen and (max-width: 800px) {
     form {
         display: none;
     }
}

@media screen and (max-width: 600px) {

    #toggle {
        display: flex;
        flex: 0 0 auto;
        margin-right: 0.8rem;
        color: rgb(255, 255, 255);
    }

    nav.main {
        display: none;
    }

    #main-nav-toggle:checked + header nav.main {
        display: block;
        flex: 1 0 100%;
    }

    nav.main ul {
        display: flex;
        flex-direction: column;
    }

    nav.main ul li {
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    nav.main ul li:first-child {
        border-top: 1px solid rgb(255, 255, 255);
    }

    nav.main ul li a {
        text-align: center;
        padding: 0;
    }

    #main-nav-toggle:checked + header #toggle .fa-times {
        display: block;
    }

    #main-nav-toggle:checked + header #toggle .fa-bars {
        display: none;
    }