.site-title {
    margin: 0;
    padding: 0.5rem 0 0 2rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    position: fixed;
    z-index: 100;
    background: rgb(0, 0, 0);
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}
nav.main ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav.main > ul {
    display: flex;
}

nav.main ul ul {
    display: flex;
    flex: 1 0 100%;
    justify-content: flex-start;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    background: rgb(50, 50, 50);
    transform: translateY(-2rem);
    box-shadow:0 0.2rem 0.5rem 0 inset rgba(0, 0, 0, 0.6);
}

nav.main li {
    display: block;
    padding: 0.7rem 0.5rem;
}

nav.main ul li a {
    display: block;
    color: rgb(178, 178, 178);
    text-decoration: none;
    font-weight: bold;
    padding-left: 3rem;
    border: solid transparent;
    border-width: 0.5rem 0;
}

nav.main ul li a:first-child {
    padding-left: none;

}

nav.main li:hover > a,
nav.main a:hover {
    color: rgb(255, 255, 255);
    transition-duration: 0.1s;
}


nav.main li:hover > ul {
    opacity: 1;
    pointer-events: inherit;
    transition: all 0.5s ease;
    transform: translateY(0);
}

#main-nav-toggle {
    display: none;
}

#toggle {
    display: none;
    font-size: 2rem;
}

#toggle .fas.fa-times {
    display: none;

}
/* style for secondary-navbar*/

#secondary-navbar ul {
    display: flex;
    width: 100%;
    margin-top: 3.4rem;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

#secondary-navbar-includes ul {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

#secondary-navbar li {
    width: 25%;
    padding: 0.3rem;
    text-align: center;
    background: rgb(50, 50, 50);  
}

#secondary-navbar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#secondary-navbar li a:hover {
    color: rgb(155, 45, 189);
}

/* style for project-navbar*/

.project-navbar ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid rgb(235, 235, 235);
    background: rgb(255, 255, 255);
}

.project-navbar li {
    padding: 0.8rem;
    text-align: center;
}

.project-navbar li a{
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.project-navbar li a:hover {
    color: rgb(0, 102, 160);
}

#nav-bar-web li a:hover {
    color: rgb(155, 45, 189);
}

#nav-bar-photographs li a:hover {
    color: rgb(0, 153, 10);
}

/* style for page-nav*/

.page-nav {
    display: flex;
    justify-content: flex-end;
}

.page-nav ul {
    display: flex;
    padding: 0;
    margin: 0 4rem 2rem 0;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0.7rem;
}

.page-nav ul li {
    padding: 0.2rem 0.5rem;
    list-style-type: none;
    color: rgb(249, 174, 24);
}

.page-nav ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.page-nav ul a:hover {
    color: rgb(155, 45, 189);
}

#page-nav-web {
    background: linear-gradient(90deg, rgba(249, 249, 249, 1),
    rgba(200, 200, 200, 0.8));
}


@media screen and (max-width: 1200px) {

    #secondary-navbar ul {
        margin-top: 3.7rem;
    }
}


@media screen and (max-width: 950px) {
    .form-search {
         display: none;
     }
}

@media screen and (max-width: 700px) {

    #toggle {
        display: flex;
        flex: 0 0 auto;
        margin-right: 0.8rem;
        color: rgb(255, 255, 255);
    }

    nav.main {
        display: none;
    }

    #main-nav-toggle:checked + header nav.main {
        display: block;
        flex: 1 0 100%;
    }

    #main-nav-toggle:checked + header nav.main ul ul {
        opacity: 1;
        margin-top: 2rem;
        pointer-events: inherit;
    }

    nav.main ul {
        display: flex;
        flex-direction: column;
    }

    nav.main ul ul{
        display: block;
        width: 100%;
        opacity: 100%;
    }

    nav.main ul li {
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    nav.main ul li:first-child {
        border-top: 1px solid rgb(255, 255, 255);
    }

    nav.main ul li a {
        text-align: center;
        padding: 0;
    }

    #main-nav-toggle:checked + header #toggle .fa-times {
        display: block;
    }

    #main-nav-toggle:checked + header #toggle .fa-bars {
        display: none;
    }

    #secondary-navbar {
        display: none;
    }

    .project-navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .project-navbar li {
        border-bottom: 1px solid rgb(235, 235, 235);
    }
    
    .site-title {
        padding: 0.5rem 0 0 0.5rem;
    }

    .site-title img {
        width: 70%;
    }
}
