@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('reset.css');
@import url('typography.css');
@import url('navigation.css');
@import url('forms.css');



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: rgb(243, 234, 234);
}

/* style for layout site.html*/

.header {
    display: flex;
    flex-wrap: wrap;
    background-image: url(/myportfolio/images/header.png);
    background-size: cover;
    padding: 8rem 0;
    max-width: 100%;
    height: auto;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

.header h1, h2 {
    padding-left: 10rem;
    margin: 0;
    font-weight: 800;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#button {
    align-self: flex-end;
    text-align: center;
    margin-left: 10rem;
    margin-top: 1rem;
    text-decoration: none;
    padding: 0.3rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    background: rgb(249, 174, 24);
}

#button:hover {
    background: rgb(0, 0, 0);
}

/* footer*/

.site-footer {
    margin-top: auto;
    background: rgb(0, 0, 0);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1 0 100%;
}

.wrapper .about {
    flex: 0 0 30%;
    padding-left: 3rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.wrapper .aboutme {
    flex: 0 0 11%;
    font-size: 0.8rem;
}

.wrapper .portfolio {
    flex: 0 0 11%;
    font-size: 0.8rem;
}

.wrapper .navcontacts {
    flex: 0 0 11%;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.wrapper .navcontacts li {
    list-style-type: none;
}

.wrapper .contacts {
    display: flex;
    flex: 0 0 30%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.social {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.social a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 1.3rem;
}

.social a:hover {
    color: rgb(249, 174, 24);
}

.wrapper .aboutme a,
.wrapper .portfolio a,
.wrapper .navcontacts a {
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.wrapper .aboutme a:hover,
.wrapper .portfolio a:hover,
.wrapper .navcontacts a:hover {
    color: rgb(249, 174, 24);
}


/* style for index.html*/

.wrap {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    margin-top: 6rem;
    align-items: center;
    width: 90%;
    background: rgb(255, 255, 255);
    border-radius: 0.4rem;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.wrap-content {
    display: flex;
    flex-wrap: wrap;
}

.what {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 40%;
}

.what p {
    color: rgb(130, 130, 130);
}

.what h4 {
   text-align: center;
}

@media screen and (max-width: 500px) {
    
    .what {
        width: 90%;
    }
    
    .wrap-content {
        flex-direction: column;
    }

    .header h1, h2 {
        padding-left: 6rem;
    }

    #button {
        align-self: flex-start;
        margin-left: 7rem;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: block;
    }

    .wrap {
        align-items: center;
        width: 95%;
    }

    .header h1, h2 {
        padding-left: 7rem;
    }

    .fieldset {
        margin: 2rem;
    }

    .fieldset #contactinpit {
        width: 80%;
    }

}

@media screen and (max-width: 800px) {
    .fieldset #contactinpit {
        width: 80%;
    }

    .fieldset #reset,
    .fieldset #submit {
        width: 80%;
    }
}
}

@media screen and (max-width: 800px) {
    .fieldset #contactinpit {
        width: 80%;
    }

    .fieldset #reset,
    .fieldset #submit {
        width: 80%;
    }
}
