@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic-ext');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('reset.css');
@import url('typography.css');
@import url('navigation.css');
@import url('forms.css');


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: rgb(255, 255, 255);
}

/* style for index.html*/

.header {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(120deg, rgba(146, 61, 136, 0.9), rgba(0, 0, 0, 0.5)), 
    url(/myportfolio/images/header.jpg);
    background-size: cover;
    padding: 10rem 0 16rem 0;
    max-width: 100%;
    height: auto;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

.header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0 0 0 10rem;
}

.header p {
    color: rgb(255, 255, 255);
    margin: 0 0 0 10rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    text-align: center;
    margin-left: 10rem;
    margin-top: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.5rem 5rem;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.button:hover {
    border: 1px solid #6C5E6A;
    background-color: #6C5E6A;
}

#secondary-button {
    align-self: flex-end;
    text-align: center;
    margin-left: 10rem;
    margin-top: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    background: rgb(249, 174, 24);
}

#button-404 {
    align-self: center;
    margin: 0.5rem 1rem 7rem 1rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 90%;
    border: 1px solid #000000;
}

.wrap h1 {
text-align: center;
}

.wrap-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2rem 0 1.3rem 0;
}

.what {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3rem auto;
    width: 25%;
}

.what span {
    width: 30%;
    margin: auto;
}

.what > h4 {
   text-align: center;
   margin-top: 1.2rem;
}

.what h4 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.what h4 a:hover {
    color: rgb(108, 94, 106);
}

.what ul li {
    list-style-type: none;
}


.what ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.what ul li a:hover {
    color: rgb(146, 61, 136);
}


/* footer*/

.site-footer {
    margin-top: auto;
    background: rgb(0, 0, 0);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1 0 100%;
}

.wrapper .about {
    flex: 0 0 30%;
    padding: 0 1rem 0 3rem;
}

.wrapper .about p {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}

.footer-nav {
    display: flex;
    font-size: 0.8rem;
    padding: 1rem 1rem 0 3rem;
    margin-bottom: 2rem;
}

.footer-nav ul {
    padding: 0.5rem 1rem;
    margin: 0;
}

.aboutme ul {
    padding-left: 0;
}

.wrapper .contacts {
    display: flex;
    justify-content: center;
    flex: 0 0 30%;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.social {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.social a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 0.8rem;
}

.social a:hover {
    color: #6C5E6A;
}

.footer-nav a {
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}

.footer-nav a:hover {
    color: #6C5E6A;
}

#logo {
    padding-top: 1rem;
}

/* style for about-me.html*/

.header-about-me {
    background-image: linear-gradient(0deg, rgba(106, 94, 106, 0.7),
    rgba(146, 61, 136, 1)),
    url(/myportfolio/images/header-about-me.jpg);
    background-size: cover;
    padding: 9rem 0 6rem 0;
    box-shadow: 0 0.5rem 3rem 0 inset rgba(0, 0, 0, 0.5);
}

.person {
    display: flex;
}

.graphics-software {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/myportfolio/images/backgound-section-about-me.png);
    background-size: cover;
    padding: 7rem;
}

.avatar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    padding-top: 3rem;
}

.avatar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.avatar ul li {
    align-self: flex-start;
    padding-bottom: 0.5rem;
    color: rgb(0, 0, 0);
}

.avatar ul li:first-child {
    font-weight: bold; 
}

.avatar .fas {
    font-size: 0.8rem;
    padding-right: 0.3rem;
    color: rgb(146, 61, 136);
}

.avatar img {
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.info-about {
    width: 50%;
    padding-right: 2rem;
}

.info-about h2 {
    background-image: linear-gradient(120deg, rgba(146, 61, 136, 1),
    rgba(106, 94, 106, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-left: 3px solid rgb(146, 61, 136);
    padding-left: 1rem;
}

.icon-about{
    margin-top: 8rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.icon-about img {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5));
    margin: 0rem 2rem 2rem 2rem;
    padding: 2rem;
}

/* style for graphic-design.html*/

.header-section-design {
    background-image: linear-gradient(0deg, rgba(108, 94, 106, 0.8),
    rgba(0, 102, 160, 0.7)),
    url(/myportfolio/images/header-graphic-design.jpg);
    background-size: cover;
    padding: 6rem 0;
    box-shadow: 0 0.5rem 3rem 0 inset rgba(0, 0, 0, 0.5);
}

.header-about-me h1,
.header-section-video h1,
.header-section-photographs h1,
.header-section-web-design h1,
.header-section-design h1 {
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.wrapper-items {
    display: flex;
    flex-direction: column;
    background: rgb(249, 249, 249);
}

.descriptions {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0rem auto;
    padding-top: 3rem;
}

.base-img {
    width: 49%;
    padding: 0 1rem;
    margin: 3rem auto;
    text-align: center;
}

.project-description {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    width: 50%;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
    padding: 7rem 0;
}

.project-new-type {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 7rem 0;
    background-image: linear-gradient(90deg, rgba(249, 249, 249, 1),
    rgba(200, 200, 200, 0.8)),
    url(/myportfolio/images/section-border-background.png);
    background-repeat: no-repeat;
}

.project-two-type {
    display: flex;
    flex-wrap: wrap;
    padding: 7rem 0;
}

.project-third-type {
    display: flex;
    flex-wrap: wrap;
    padding: 7rem 0;
    background-image: linear-gradient(90deg, rgba(0, 102, 160, 1),
    rgba(146, 61, 136, 0.9)),
    url(/myportfolio/images/section-border-background.png);
    background-repeat: no-repeat;
    clip-path: ellipse(100% 60% at 50% 40%);
}

.simple-img {
    width: 50%;
    margin: 0 auto;
}

.third-img {
    margin: 0 auto;
    padding: 0 1rem;
}

.secondary-img span:nth-child(2) {
    padding-left: 4rem;
}

.third-img img,
.secondary-img img,
.simple-img img{
    max-width: 100%;
}

.small-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.img img{
    margin-bottom: 1rem;
}

.small-img img {
    margin: 0 2rem 2rem 2rem;
}

.blok {
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, rgba(0, 102, 160, 1),
    rgba(108, 94, 106, 0.8)),
    url(/myportfolio/images/background-graphic-design-studentski.jpg);
    padding: 9rem 0;
    clip-path: ellipse(100% 60% at 50% 40%);
}

.blok-subtitle {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 3rem 2rem 6rem;
}

.blok-subtitle h3 {
    margin-top: 0;
    padding-left: 1rem;
    color: rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
}

.blok-subtitle p {
    color: rgb(255, 255, 255);
}


.blok img {
    padding: 0 2rem;
}

.border {
    display: flex;
    padding: 7rem 0;
}

.border img {
    border: 1px solid rgb(0, 102, 160);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.img-flyer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-flyer img {
    box-shadow:0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}

.img-flyer img:first-child {
    margin: 0 2rem 0 0;
}

.project-sunshades {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 3rem 0;
}

.wrap-sunshade {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0rem auto;
}

.wrap-sunshade span {
    padding-bottom: 2rem;
}

.wrap-sunshade span img {
    max-width: 100%;
}

.img-wrap span {
    padding: 0 1rem;
    text-align: center;
    margin: 0rem auto;
    margin-bottom: 3rem;
}

.internal-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 3rem 2rem 6rem;
}

.internal-title h3,
.project-description h2 {
    font-weight: 800;
    background: -webkit-linear-gradient(120deg, rgba(108, 94, 106, 1),
    rgba(0, 102, 160, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
    margin-top: 0;
    border-left: 3px solid rgb(0, 102, 160);
}

.icon {
    display: flex;
}

.icon div {
    padding-right: 1rem;
}

.short-description {
    font-size: 0.7rem;
    padding-bottom: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
}

.short-description-blok {
    color: rgb(255, 255, 255);
}

/* style for web-design.html*/

.header-section-web-design {
    background-image: linear-gradient(0deg, rgba(108, 94, 106, 0.8),
    rgba(146, 61, 136, 0.9)),
    url(/myportfolio/images/header-web-design.jpg);
    background-size: cover;
    padding: 6rem 0;
    box-shadow: 0 0.5rem 3rem 0 inset rgba(0, 0, 0, 0.5);
}

.web:first-child {
    font-weight: 800;
    background-image: linear-gradient(120deg, rgba(108, 94, 106, 1),
    rgba(146, 61, 136, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
    margin-top: 0;
    border-left: 3px solid rgb(108, 94, 106);
}

.project-web {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0rem auto;
    padding: 7rem 0;
}

.project-web > .img img {
    padding: 2rem 1rem 1rem;
}

.blok-web {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    background: linear-gradient(120deg, rgba(155, 45, 189, 0.8),
    rgba(179, 36, 132, 0.9));
    clip-path: polygon(0px 16%, 100% 0px, 100% 100%, 0px 100%);
}

.img-web {
    padding: 0 1.5rem;
}

.img-wrap {
    display: flex;
    padding: 7rem 0;
}

.img-wrap:nth-child(odd) {
    background: linear-gradient(90deg, rgba(249, 249, 249, 1),
    rgba(200, 200, 200, 0.8));
}

#top-padding {
    padding: 0 0 1rem 0;
}

/* style for photographs.html*/

.header-section-photographs {
    background-image: linear-gradient(0deg, rgba(108, 94, 106, 0.8),
    rgba(136, 197, 102, 0.9)),
    url(/myportfolio/images/header-photographs.jpg);
    background-size: cover;
    background-position: center;
    padding: 6rem 0;
    box-shadow: 0 0.5rem 3rem 0 inset rgba(0, 0, 0, 0.5);
}

.photo:first-child {
    font-weight: 800;
    background-image: linear-gradient(120deg, rgba(172, 197, 102, 1),
    rgba(108, 94, 106, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
    margin-top: 0;
    border-left: 3px solid rgb(172, 197, 102);
}

/* style for modal/lightbox*/

.row > .column {
    padding: 1rem;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4.5rem 0;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
  
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 800px;
}
  
.close {
    color: white;
    position: absolute;
    top: 50px;
    right: 220px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}
  

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
  
img.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* style for video.html*/

.header-section-video {
    background-image: linear-gradient(0deg, rgba(108, 94, 106, 0.8),
    rgba(192, 17, 17, 0.8)),
    url(/myportfolio/images/header-video.jpg);
    background-size: cover;
    background-position: center;
    padding: 6rem 0;
    box-shadow: 0 0.5rem 3rem 0 inset rgba(0, 0, 0, 0.5);
}

.video:first-child {
    font-weight: 800;
    background-image: linear-gradient(120deg, rgba(192, 17, 17, 1),
    rgba(108, 94, 106, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
    margin-top: 0;
    border-left: 3px solid rgb(192, 17, 17);
}

.video-container {
    display: flex;
    align-items: flex-start;
    padding: 7rem 0;
}

.video-container:nth-child(odd) {
    background-image: linear-gradient(90deg, rgba(249, 249, 249, 1),
    rgba(200, 200, 200, 0.8));
}

.video-frame {
    padding: 0rem 1.5rem;
}

/* style for 404.html*/

.wrap-404 {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    margin-top: 6rem;
    align-items: center;
    width: 90%;
    border: 1px solid rgb(249, 174, 24);
    border-radius: 0.4rem;
}

.wrap-404 h1 {
    font-size: 4rem;
    font-weight: bold;
    background-image: linear-gradient(120deg, rgba(249, 174, 24, 1),
    rgba(15, 50, 50, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid rgb(249, 174, 24);
}

.wrap-404 p {
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .third-img,
    .secondary-img {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .third-img span,
    .secondary-img span {
        text-align: center;
    }

    .secondary-img span:nth-child(2) {
        padding-left: 0
    }
    
}

@media screen and (max-width: 1124px) {
    .base-img {
        width: 100%;
    }
   
    #sunshane-descriptions {
       flex-direction: column;
   }

   .project-description {
        width: 90%;
        margin: 0 auto;
   }
  
   #project-description-sunshane {
        width: 90%;
   }

    .project-web img,
    .border img,
    .project img {
       max-width: 100%;
       height: auto;
   }

   .img-wrap {
       flex-direction: column;
   }

   .img-wrap span {
        text-align: center;
    }

    .img span {
        max-width: 100%;
        margin-bottom: 3rem;
        text-align: center;
    }

    .img-flyer img:first-child {
        margin: 0 0 1.5rem 0;
    }

    .img-web {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .project-web > .img img{
        padding: 0;
    }

    .border {
        flex-direction: column;
    }

    .project-new-type .simple-img
    .border .img {
        margin: 0 auto;
    }

    .project-two-type,
    .project-new-type {
        flex-direction: column;
    }

    .video-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 5rem 0;
    }

    .video-frame {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    
    .what {
        width: 90%;
    }

    .header-section-design,
    .header-section-web-design,
    .header-section-photographs,
    .header-section-video,
    .header-about-me {
        padding-top: 8rem;
    }

    .descriptions {
        flex-direction: column;
        width: 100%;
    }

    .base-img {
        width: 100%;
        margin: 2rem auto;
    }

    .base-img img {
        max-width: 100%;  
    }

    .project-description {
        width: 90%;
        padding: 0;
    }

    .blok {
        flex-direction: column;
        align-items: center;
    }

    .blok-subtitle,
    .internal-title {
        width: 90%;
        margin: 0 auto;
        padding: 0 1.5rem 2rem 1.5rem;
    }

    .simple-img {
        width: 80%;
    }

    .wrap-sunshade {
        width: 90%;
    }
    
    .blok-web img,
    .blok img {
        max-width: 70%;
        height: auto;
        padding: 0;
    }

    .project-container img {
        max-width: 90%;
        height: auto;
    }

    .project-container img img {
        max-width: 100%;
    }
    
    .img-web img {
        max-width: 100%;
    }

    .video-container {
        width: 100%;
    }



@media screen and (max-width: 700px) {
    
    .header h1,
    .header h2 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0 0 0 2rem;
    }
    
    .info > p,
    .info > .button {
        margin: 0 0 0 2rem;
    }

    .img {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .column {
        max-width: 100%;
        height: auto;
    }

    .column img {
        max-width: 100%;
        height: auto;
    }

    .avatar {
        width: 100%;
    }

    .person {
        flex-direction: column;
        align-items: center;
    }

    .info-about {
        width: 90%;
        padding-right: 0;
        margin: 0 auto;
    }

    .icon-about h5 {
        margin-top: 5rem;
    }

    .border .img {
        margin: 0;
        padding: 0;
    }

    .secondary-img img {
        padding: 0 1rem;
    }

    .video-frame iframe {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .header h1,
    .header h2 {
        font-size: 2rem;
        font-weight: 800;
        margin: 0 0 0 2rem;
    }

    .wrap-content {
        flex-direction: column;
    }

    .small-img {
        max-width: 100%;
    }

    .small-img img {
        max-width: 100%;
        margin: 2rem 0;
    }

    .wrap-sunshade {
        padding-left: 0; 
    }

    .row > .column {
        padding: 0.5rem 0;
    }
}
