<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Portfolio | Liliya Milanova • Graphic Design • Web • Photographs • Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ baseurl }}/css/styles.css"/>
    <link rel="icon" type="image/png" media="screen" href="{{ baseurl }}/images/favicon.png"/>
</head>
<body>
    
    <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle">

<header>
    <p class="site-title"><a href="/">My Portfolio</a></p>

    <label for="main-nav-toggle" id="toggle">
        <i class="fas fa-times"></i>
        <i class="fas fa-bars"></i>
        </label>

    <nav class="main">
        <ul>
            <li><a href="{{ baseurl }}/about/">About me</a></li>
            <li><a href="{{ baseurl }}/portfolio/">Portfolio <i class="fas fa-caret-down"></i></a>
                <ul>
                    <li><a href="{{ baseurl }}/portfolio/graphic-design/"><i class="fas fa-pencil-alt"></i> Graphic Design</a></li>
                    <li><a href="{{ baseurl }}/portfolio/web/"><i class="fas fa-desktop"></i> Web</a></li>
                    <li><a href="{{ baseurl }}/portfolio/photographs/"><i class="fas fa-camera"></i> Photographs</a></li>
                    <li><a href="{{ baseurl }}/portfolio/video/"><i class="fas fa-video"></i> Video</a></li>
                </ul>
            </li>
            <li><a href="{{ baseurl }}/contacts/">Contacts</a></li>
        </ul>
    </nav>

    <form action="#" method="POST">
        <span class="order">
            <input type="text" placeholder="Search">
            <span class="actions"></span>
            <i class="fas fa-search"></i>
        </span>
    </form>
</header>

{{ content }}


<footer class="site-footer">
    <div class="wrapper">
        <section class="about">
            <h6>My Portfolio</h6>
            <p>My portfolio is created to collect all favorite projects from my previous work - graphic design, posters, web banners and photographs.</p>
            <p>© 2018 Liliya Milanova</p>
        </section>
    <article class="aboutme">
        <ul>
            <li><a href="{{ baseurl }}/about/">About me</a></li>
        </ul>
    </article>
    <article class="{{ baseurl }}portfolio">
            <ul>
            <li><a href="{{ baseurl }}/portfolio/">Portfolio</a></li>
            <li><a href="{{ baseurl }}/portfolio/graphic-design/">Graphic Design</a></li>
            <li><a href="{{ baseurl }}/portfolio/web/">Web</a></li> 
            <li><a href="{{ baseurl }}/portfolio/photographs/">Photographs</a></li>
            <li><a href="{{ baseurl }}/portfolio/video/">Video</a></li>
            </ul>
    </article>
    <article class="navcontacts">
        <ul>
            <li><a href="/contacts/">Contacts</a></li>
        </ul>
    </article>
    <section class="contacts">
        <ul class="social">
            <li><a class="fab fa-github" href="https://github.com/LiliyaMilanova"></a></li>
            <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/liliya-milanova"></a></li>
            <li><a class="fab fa-google-plus-g" href="https://plus.google.com/u/0/117522004120139488894"></a></li>
        </ul>
    </section>
</div>
</footer>
</body>
</html>
